html{
	min-width: 800px;
}

header{
	background-color: #e67e22;
}

main h1 {
	text-align: center;
	font-size: 40px;
	color: #e67e22;
}
	
main h2 li a:hover{
	font-size: 33px
}

main h2 li {
	width: 300px;
	list-style: none;
	margin: auto;
}

#Samenvattingen {
	text-align: center;
	font-size: 30px;
}

a {
	color: black;
	text-decoration: none;
}