html{
	height: 100%;
	width: 100%;
}

body{
	font-family: 'Lato', Helvetica, sans-serif;
	height: 100%;
	width: 100%;
}

header{
	background-color: white;
	height: 20%;
	min-height: 100px;
	position: relative;
}

header h1{
	font-size: 50px;
	margin-left: 50%;
	left: -200px;
	width: 400px;
	top: 50%;
	margin-top: -25px;
	text-align: center;
	font-weight: 300;
	position: absolute;
}

nav{
	width: 100%;
	height: 10%;
	min-height: 50px;
	background-color: #2c3e50;
	position: relative;
}

nav ul{
	display: table;
	top: 50%;
	margin-top: -10px;
	position: absolute;	
	left: 50%;
	margin-left: -161px;
	width: 323px;
}

nav ul li{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

nav ul li a{
	font-size: 20px;
	color: white;
	font-weight: 300;
	text-decoration: none;
}

nav ul li a:hover{
	text-decoration: underline;
}

main{
	position: relative;
	height: 70%;
}

main .tile{
	background-color: aqua;
	width: 20.05%;
	height: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
	position: absolute;
	min-height: 200px;
}

main .tile:hover{
	-webkit-box-shadow: inset 0 0 5px #000000;
	-moz-box-shadow:    inset 0 0 5px #000000;
	box-shadow:         inset 0 0 5px #000000;
}

#yellow{
	background-color: #f1c40f;
}

#red{
	margin-left: 20%;
	background-color: #c0392b;
}

#orange{
	background-color: #e67e22;
	margin-left: 40%;
}

#green{
	margin-left: 60%;
	background-color: #2ecc71;
}

#purple{
	margin-left: 80%;
	background-color: #8e44ad;
}

.tile h1{
	text-align: center;
	margin-top:95%;
	color: white;
	font-family:"lato";
	font-size: 30px;
}

.tile img{
	margin-top: 10%;
	margin-left: 50%;
	left: -100px;
	position: absolute;
	width: 200px;